@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100..700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #737373;
    background-color: #0f0e14;
    font-weight: 900;
    font-family: "M PLUS 1 Code", monospace;
}

.container {
    height: 100vh;
}

.password-generator-container {
    max-width: 26rem;
}

.password-chracteristics-container {
    width: 100%;
    color: #bcbbbe;
    background-color: #24232b;
}

.pswrd {
    width: 26rem;
    font-size: 1.3rem;
    background-color: #24232b;
}

.pswrd-length {
    width: 100%;
}

#length {
    color: #52f065;
    font-size: 1.2rem;
}

.form-range {
    height: 15px;
}

.strength {
    width: 100%;
    height: 3rem;
    background-color: #18171f;
}

.btn {
    width: 100%;
    border: none;
    border-radius: 0px;
    font-weight: 500;
    color: #24232b;
    background-color: #52f065;
}

.btn:hover {
    color: #24232b;
    background-color: #1ad430;
}

.btn:active {
    color: #24232b !important;
    background-color: #52f065 !important;
}

.fa-copy {
    color: #52f065;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #52f065;
}

input[type=range]:hover::-webkit-slider-thumb {
    background: #1ad430;
}

input[type=checkbox]:checked {
    accent-color: #52f065;
}